[pylint]
disable=
    broad-except,
    consider-using-f-string,
    duplicate-code,
    line-too-long,
    too-many-arguments,
    too-many-branches,
    too-many-function-args,
    too-many-locals,
good-names=
    szerror
ignore=
    __init__.py,
notes=
    FIXME,
